
<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs')%>
<body>
    
    <%- include('./partials/header.ejs')%>
    
    
    <div class='container-fluid' id='registroC' >
        <div class='row' id='form'>
            <div class="sm-col-4 md-col-12 lg-col-8" id="registro">
                
                <h3>Mi carrito</h3>
                
                <p> </p>
                
                
                <form action='#'method='post' id="formCarrito" >
                    
                    <p><label for='ID'>ID Producto</label></p>
                    <p><input type='number' name='numero' id='ID'   class='uno'></p>
                    
                    
                    <p><label for='cantidad'>Cantidad</label></p>
                    <p><input type='number' name='cantidad' id='cantidad'   class='uno'></p>
                    
                    
                    <p><label for='precio'>Precio</label></p>
                    <p> <input type='number' name='contraseña' id='precio' class='uno'></p> 
                    
                    
                    
                    <input type="submit" class="btn btn-primary" id="btn-form" >Enviar</input>
                   <input type="reset" class="btn btn-primary" id="btn-form" >Limpiar</input>
                    
                </form>
                
                
            </div>
        </div> 
    </div>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-6">
                
                <article class="uno" id='comprar'>
                    Productos: 
                    Su total es:
                    
                    
                </article>
                <article class="uno" id='comprar'>
                    <a href="#"> Seguir comprando</a>
                    
                </article>
            </div>
            
            
            
        </div>
        
        
    </div>
    
    
    
    
    
    
    
    <%- include('./partials/footer.ejs')%>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
</body>

</html>